*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Rubik", sans-serif;
    background-image: linear-gradient(to top, #807ECE, #807ECE);
    color: #fff;
}

#calculator{
    margin: 60px auto;
    background-color: #2D2A37;
    width: 30%;
    height: 70vh;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.25);

}

#result{
    display: flex;
    margin: 20px auto;
    background-color: #2D2A37;
    border: none;
    width: 80%;
    height: 20%;
    color: #fff;
    font-size: 2.5rem;
    text-align: right;
    justify-content: center;
}

#result:focus{
    outline: none;
    box-shadow: none;
    border: none;
}

.operations{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}

.buttons-numbers {
    border: none;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 12px;
}

.buttons-operations{
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 12px;
    margin-left: 12px;
}

.buttons-numbers button, .buttons-operations button{ 
    border: none;
    border-radius: 12px;
    width: 60px;
    height: 60px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    transition: background-image 0.3s ease;
}

.buttons-numbers button{
    background-image: linear-gradient(to top,#2D2A37, rgba(0,0,0, 0.9));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.buttons-operations button{
    background-image: linear-gradient(to top,#7F45E2, rgba(70, 40, 120, 1));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.buttons-operations button:nth-of-type(5) sup{
    font-size: 15px;
}

.buttons-numbers button:nth-of-type(10){
    width: 134px;
    height: 64px;
    grid-column: span 2;
    text-align: center;
}

.buttons-numbers button:hover{
    background-image: linear-gradient(to top, #2D2A37, rgba(0,0,0, 0.8));
}

.buttons-operations button:hover{
    background-image: linear-gradient(to top,#7F45E2, rgba(70, 40, 120, 0.9));
}

.buttons-operations button:active, .buttons-operations button:focus{
    outline: none;
}

#btn-result{
    background-image: none;
    background-color: #7F45E2;
}

@media (max-width: 768px){
    #calculator{
        width: 70%;
        height: 70vh;
        border-radius: 16px;
    }

    #result{
        font-size: 2rem;
    }

    .buttons-numbers button, .buttons-operations button{
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .buttons-numbers button:nth-of-type(10){
        width: 108px;
        height: 50px;
    }
}   

@media (max-width: 900px){
    #calculator{
        width: 50%;
        height: 50vh;
        margin: 60px auto;
        border-radius: 16px;
    }

    #result{
        font-size: 1.8rem;
    }

    .buttons-numbers button, .buttons-operations button{
        width: 45px;
        height: 45px;
        font-size: 18px;
    }

    .buttons-numbers button:nth-of-type(10){
        width: 98px;
        height: 45px;
    }
}

@media (max-width: 480px) and (max-width: 540px){
    #calculator{
        width: 80%;
        height: 60vh;
        margin: 60px auto;
        border-radius: 16px;
    }

    #result{
        font-size: 1.5rem;
    }

    .buttons-numbers button, .buttons-operations button{
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    .buttons-numbers button:nth-of-type(10){
        width: 86px;
        height: 40px;
    }
}   


@media (max-height: 600px){
    #calculator{
        height: 80vh;
        width: 40%;
        margin: 60px auto;
        border-radius: 16px;
    }
    .buttons-numbers button, .buttons-operations button{
        height: 60px;
    }
    .buttons-numbers button:nth-of-type(10){
        height: 60px;  
    }
}   

@media (max-height: 400px){
    #calculator{
        height: 90vh;
        border-radius: 16px;
    }
    .buttons-numbers button, .buttons-operations button{
        height: 50px;
    }
    .buttons-numbers button:nth-of-type(10){
        height: 50px;   
    }
}

@media (min-width: 1000px){
    #calculator{
        width: 45%;
        height: 70vh;
    }
    .buttons-numbers button, .buttons-operations button{
        width: 60px;
        height: 60px;
        font-size: 22px;
    }
    .buttons-numbers button:nth-of-type(10){
        width: 134px;
        height: 64px;
    }

}

@media (min-width: 1200px){
    #calculator{
        width: 30%;
        height: 70vh;
    }
    .buttons-numbers button, .buttons-operations button{
        width: 60px;
        height: 60px;
        font-size: 22px;
    }
    .buttons-numbers button:nth-of-type(10){
        width: 134px;
        height: 64px;
    }

}

@media (min-width: 1400px){
    #calculator{
        width: 30%;
        height: 70vh;

    }
    .buttons-numbers button, .buttons-operations button{
        width: 60px;
        height: 60px;
        font-size: 22px;
    }
    .buttons-numbers button:nth-of-type(10){
        width: 134px;
        height: 64px;
    }

}

@media (min-width: 1600px){
    #calculator{
        width: 20%;
        height: 60vh;

    }
    .buttons-numbers button, .buttons-operations button{
        width: 60px;
        height: 60px;
        font-size: 22px;
    }
    .buttons-numbers button:nth-of-type(10){
        width: px;
        height: 80px;
    }

}

@media (min-width: 2000px){
    #calculator{
        width: 15%;
    }
}

@media (min-height: 800px){
    #calculator{
        height: 50vh;
    }
}

@media (height: 800px){
    #calculator{
        height: 70vh;
    }
}